export org_repo_owner='<org-name>'
export USERNAME='<username>'
export PASSWORD='<password>'
export api_key='<subscription key>'
export path_secret='<path uid>'
export newcomers_team_id='<team id>'

export announcement_channel_id='C9MCGNSQH'
export maintainer_usergroup_id='SAQDWBCE7'
export BOT_UID='U9MV72UMQ'
